html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
	font:100%/1.5 sans-serif;
	overflow-y: scroll;
}

h1, h2, h3 {
	line-height: 1.1
}

.blog {
	margin: 0;
	padding: 0;
}

.nav li, .blog li {
	list-style-type: none;
}

.nav li {
	margin-right: 1em;
}

.nav {
	margin: 0;
	padding: 1.25em 0 .75em 0;
}

footer img, .nav li {
	display: inline-block;
}

footer, .center {
	text-align: center;
}

footer {
	font-size: smaller;
}

code, pre {
	font-family: monospace, monospace;
}

pre {
	overflow: auto;
}

@media screen {
	body {
		margin: auto;
		max-width: 45em;
		padding: 0 1em;
	}
}

@supports not (color-scheme: dark light) {
	@media (prefers-color-scheme: dark) {
		html {
			background-color:#191919;
			color:#e6e6e6;
		}
		a:link{color:#eee8a7;}
		a:visited{color:#ffd8ff;}
	}
}
